**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.ipynb
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/obj
**/secrets.dev.yaml
**/values.dev.yaml



.idea
.ipynb_checkpoints
**/*.xml

**/*.npy
**/*.tif
wandb/

venv
__pycache__
**/__pycache__/
slurm*.out
data/datasets/**
multilayer_approach/datasets/**
inference/results/**
inference/archived_results/**
inference/single_results/**
slurm_logs/
conf_local.py
checkpoints_archive/
