conf_local.py

.DS_store
.idea
*.xml

*.npy
*.tif
fragments/**/layers
fragments_contrasted

wandb
*.tar
venv
__pycache__
slurm*.out
checkpoints
checkpoints_archive
data/datasets/**
multilayer_approach/datasets/**
inference/results/**
inference/archived_results/**
inference/single_results/**


slurm_logs/
