conf_local.py

.idea
*.xml

*.npy
*.tif
fragments/**/layers

*.DS_Store
wandb
*.tar
venv
__pycache__
slurm*.out
checkpoints
checkpoints_archive
data/datasets/**
data/fragments_contrasted/**
multilayer_approach/datasets/**
inference/results/**
inference/archived_results/**
inference/single_results/**


slurm_logs/