torch==2.1.1
torchvision==0.16.1
torchaudio==2.1.1
torchmetrics
scikit-learn
scikit-image
transformers==4.35.0

matplotlib
numpy
tqdm
albumentations
wandb
einops
opencv-python
pillow
lightning
h5py

pandas
requests
beautifulsoup4
termcolor
future
timm
segmentation_models_pytorch