torch
torchvision
torchaudio
torchmetrics
scikit-learn
scikit-image
transformers

matplotlib
numpy
tqdm
albumentations
wandb
einops
opencv-python
pillow
lightning
h5py

pandas
requests
beautifulsoup4
termcolor
future
timm
segmentation_models_pytorch